{{#if activation}}
<h3>Ativação feita com sucesso</h3>
<p>Faça o <a href="/users/login">login</a>.</p>
{{else}}
<h3>Cadastro feito com sucesso</h3>
<p>Cheque o seu email cadastrado para ativar a conta.</p>
{{/if}}
